In [2]:
# This is a demonstration of some data exploration capabilities using the RandomRugData dataset and Pandas
# We will find the top vendors, top rug collections, and top rug styles.

In [3]:
#start by importing pandas and numpy
import pandas as pd

In [4]:
#lets load in the data
df = pd.read_csv(r'RandomRugData.csv')
df.head()

,Unnamed: 0,Invoice#,Date,Vendor,Collection,StyleNumber,SizeExact,SizeGroup,RedPrice,Discount,...,StyleGroup,StyleGroup2,DomColor,MinColor,ConstructionType,Material,Pad,CustomerID,S/O,InvoiceTotal
0,0,12006,2022-04-11,DynamicRugs,Canberra,330077,10x14,10,1210.05,179.31,...,Traditional,Medallion,Green,Red,tufted,Wool,1,6624931846,0,1030.74
1,1,12017,2023-10-21,DynamicRugs,Oslo,669653,8x11,8,806.02,0.00,...,Contemporary,Heriz,Brown,Taupe,Printed,Polyester,1,3640045567,1,806.02
2,2,12018,2024-08-29,Orian,Doha,777019,8 Round,8,841.93,111.56,...,Traditional,Solid,Brown,Red,tufted,Wool,1,4077175238,1,730.37
3,3,12022,2024-07-23,Karastan,Moroni,389039,10x14,10,1214.30,210.89,...,Transitional,Heriz,Brown,Navy,HM,Wool,0,1922803516,1,1003.41
4,4,12026,2024-09-23,Dalyn,Kuala Lumpur,771563,12x15,12,2003.21,234.05,...,Contemporary,Heriz,Gray,Ivory,tufted,Wool,0,1549432886,0,1769.16

In [5]:
# This data is randomly generated and all records are complete, no data cleaning will be necessary

In [6]:
#lets find a list of all the vendors
df['Vendor'].unique()

array(['DynamicRugs', 'Orian', 'Karastan', 'Dalyn', 'Surya', 'Rizzy',
       'Kas', 'Artisan', 'OrientalWeavers', 'PersianWeavers', 'Couristan'],
      dtype=object)

In [7]:
#We can now find sales totals by vendor and sort them in descending order
df.groupby('Vendor')['SalePrice'].sum().sort_values(ascending=False)

Vendor
Couristan          70373.08
Kas                69925.92
DynamicRugs        66794.59
Orian              66698.70
PersianWeavers     66058.74
Dalyn              65141.02
Karastan           60037.57
Rizzy              56879.14
OrientalWeavers    52902.91
Artisan            51740.55
Surya              29028.82
Name: SalePrice, dtype: float64

In [8]:
#We see that Couristan is the top vendor in this data but there is a pretty even split between the next 9 vendors

In [9]:
#lets find the total sales for each rug collection sold by Couristan and sort in descending order
df[df['Vendor'] == 'Couristan'].groupby('Collection')['SalePrice'].sum().sort_values(ascending=False)

Collection
Asuncion        7636.17
Banjul          7107.94
Sarajevo        6916.90
Panama City     5816.51
Baku            4991.30
Dodoma          4916.44
Taipei          4853.24
Lima            4610.67
Monaco          4583.08
Valletta        4039.56
Yaounde         4018.71
Madrid          3059.35
Algiers         3058.17
Antananarivo    2635.27
Chisinau        1375.83
Kyiv             753.94
Name: SalePrice, dtype: float64

In [10]:
# I wonder if there are any collections that do really well for a vendor that isnt a top saler

#lets find the top rug collections by sales and display their collection name
df.groupby('Collection')['SalePrice'].sum().sort_values(ascending=False).head(10)

Collection
Andorra la Vella    10417.93
Moscow              10170.74
Skopje              10140.64
Victoria             9657.83
Paramaribo           9531.12
Ulaanbaatar          7941.04
Asuncion             7636.17
Dakar                7626.35
Dublin               7603.31
La Paz               7550.55
Name: SalePrice, dtype: float64

In [11]:
# only one Couristan rug is in our top ten performing collections
# This means that Couristan sales are more evenly distrubuted than other vendors

In [12]:
# lets see which vendors our top three collections belong to
df[df['Collection'].isin(['Andorra la Vella', 'Moscow', 'Skopje'])]['Vendor'].unique()

array(['PersianWeavers', 'Orian', 'Artisan'], dtype=object)

In [13]:
# The collection in the Artisan vendor is interesting because that vendor is second to last in sales by vendor

In [14]:
# Collection sales totals for Artisan
df[df['Vendor'] == 'Artisan'].groupby('Collection')['SalePrice'].sum().sort_values(ascending=False)

Collection
Moscow       10170.74
Riyadh        6673.86
Podgorica     5797.53
Amsterdam     5610.55
Zagreb        5401.15
Monrovia      4960.28
Helsinki      3783.90
Damascus      3199.32
Sofia         3166.58
Ottawa        2424.14
Belmopan       552.50
Name: SalePrice, dtype: float64

In [15]:
# The collections on the lower end of sales for Artisan can be re-evaluated. Maybe there are some issues with these collections, are they worth bringing back?

In [16]:
# Lets find the lowest saling rug collections
df.groupby('Collection')['SalePrice'].sum().sort_values(ascending=True).head(10)

Collection
Lisbon               334.94
Belmopan             552.50
Amman                578.01
Tokyo                677.52
Washington, D.C.     697.46
Kyiv                 753.94
Ouagadougou          928.76
Bratislava           937.76
San Marino          1085.49
Riga                1286.30
Name: SalePrice, dtype: float64

In [17]:
# These collections should also be re-evaluated to see if they are worth bringing back

In [18]:
# Now lets see sales totals for each rug style group
df.groupby('StyleGroup')['SalePrice'].sum().sort_values(ascending=False)

StyleGroup
Traditional     415489.81
Transitional    124369.86
Contemporary    115721.37
Name: SalePrice, dtype: float64

In [19]:
# Traditional rugs are the most popular rug style group by a good amount

In [20]:
# What dominant colors are popular with traditinal rugs sold?
df[df['StyleGroup'] == 'Traditional'].groupby('DomColor')['SalePrice'].sum().sort_values(ascending=False).head(10)

DomColor
Gold     53645.94
Ivory    51806.59
Beige    46822.61
Blue     44958.82
Taupe    44258.85
Gray     40192.96
Green    37089.44
Red      35876.82
Brown    31880.17
Navy     28957.61
Name: SalePrice, dtype: float64

In [21]:
# We now know what rug vendors, collections, and styles have been popular with the business.

In [ ]:
# What is the average sale price for each rug style group?
df.groupby('StyleGroup')['SalePrice'].mean()

StyleGroup
Contemporary    792.612123
Traditional     816.286464
Transitional    857.723172
Name: SalePrice, dtype: float64

In [28]:
# How many of the transactions had a discount applied?
(df[df['Discount'] > 0].shape[0])/df.shape[0]

0.5325